/**
 * @file
 * DFRspnsv layout styling.
 */

/**
 * Container
 */
.layout-container {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
@media all and (min-width: 851px) {
  .layout-container {
    max-width: 1290px;
  }
}

/**
 * Main
 */
.layout-main-wrapper {
  min-height: 300px;
}
.layout-main {
  margin-top: 20px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 559px) {
  .views-element-container.contextual-region.block.block-views.block-views-blockslideshow-block-1 {
    display: none;
  }
}

@media only screen and (min-width: 560px) {
  .views-element-container.contextual-region.block.block-views.block-views-blockslideshow-block-1 {
    height: auto !IMPORTANT;
  }
}
/*
div.photo-gallery-thumbnail article {
  height: 250px;
  padding: 5px !important;
  width: 190px;
}

div.photo-gallery-thumbnail article div.node__content.clearfix {
  bottom: 0;
  position: absolute;
}
*/


div.photo-gallery-thumbnail.views-col {
  height: 220px;
  padding: 5px;
  text-align: center;
  width: 190px;
}

div.photo-gallery-thumbnail.views-col a:link,
div.photo-gallery-thumbnail.views-col a:visited,
div.photo-gallery-thumbnail.views-col a:hover,
div.photo-gallery-thumbnail.views-col a:active {
  text-decoration: none;
  border-bottom: 0 none !IMPORTANT;
}

div.photo-gallery-thumbnail.views-col a:hover {
  text-decoration: underline;
}
